<mat-toolbar color="primary">
  <span>Modelleisenbahn Websteuerung</span>
  <span class="spacer"></span>
  <button mat-icon-button (click)="refresh()">
    <mat-icon class="refresh-icon">refresh</mat-icon>
  </button>
  
</mat-toolbar>
<div class="content">
  <div class="center">
      <img src="http://{{server_address + '/camera/video_feed'}}" class="camera" [hidden]="mapPerspective">
      <canvas #canvas class="canvas" width="960" height="540" [hidden]="!mapPerspective"></canvas>
    <div *ngIf="trains.length > 0; else trainsElseBlock">
      <mat-tab-group class="tab-group" (selectedIndexChange)="changeTrainSelection($event)">
        <mat-tab *ngFor="let train of trains; index as i">
          <ng-template mat-tab-label >
            <div [style.color]="train.color">
              {{train.name}}
            </div></ng-template>
          <div class="grid-container">
            <div class="grid-element">
              <mat-label>View:</mat-label>
            </div>
            <div class="grid-element form-value">
              <mat-slide-toggle [checked]="mapPerspective" (change)="toggleMap($event)">Map</mat-slide-toggle>
            </div>
            
          </div>
          <div class="grid-container">
            <div class="grid-element">
              <mat-label>System:</mat-label>
            </div>
            <div class="grid-element form-value">
              <button mat-button class="stopButton" (click)="sendSystemCommand()" [style.backgroundColor]="getStateColor(systemState)">{{systemState}}</button>
            </div>
            
          </div>
          <div class="grid-container">
            <div class="grid-element">
              <mat-label>Speed:</mat-label>
            </div>
            <div class="grid-element form-value">
              <mat-slider min="0" max="100" step="1" showTickMarks discrete [displayWith]="formatLabel" class="speedslider">
                <input [value]="train.speed" (valueChange)="onSpeedChange($event)" matSliderThumb >
              </mat-slider>
            </div>
            
          </div>

          <div class="grid-container">
            <div class="grid-element">
              <span class="speed">Direction:</span>
            </div>
            <div class="grid-element form-value">
              <mat-button-toggle-group name="direction" [value]="train.direction" class="directionToggle">
                <mat-button-toggle value="Forwards" (click)="onDirectionChange('Forwards')">Forwards</mat-button-toggle>
                <mat-button-toggle value="Backwards" (click)="onDirectionChange('Backwards')">Backwards</mat-button-toggle>
              </mat-button-toggle-group>
            </div>
            
          </div>
          <div class="grid-container">
            <div class="grid-element">
              <mat-label>Autonomous Driving:</mat-label>
            </div>
            <div class="grid-element form-value">
              <mat-slide-toggle [checked]="moveTo" (change)="setMoveTo($event)">Selecting Target</mat-slide-toggle>
            </div>
            
          </div>

        </mat-tab>
      </mat-tab-group>
    </div>
    <ng-template #trainsElseBlock>
      No trains available
    </ng-template>
    
  </div>
  
</div>