.spacer {
    flex: 1 1 auto;
}

.refresh-icon {
    padding: 0 14px;
}

.content {
    margin-top: 5px;
    display: flex;
}

.center {
    margin: 0 auto;
    width: 960px;
}

.camera {
    margin: 0 auto;
    width: 960px;
    height: 540px;
}

.grid-container {
    margin: 20px 0;
    display: grid;
    grid-template-columns: 20% 1fr 20%;
}

.grid-element {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

.form-value {
    margin-left: auto;
    margin-right: auto;
}

.speedslider {
    width: 200px;
}

.directionToggle {
    width: 190px;
    height: 50px;
}

.stopButton {
    width: 100px;
    height: 50px;
    color: #ffffff !important;
}

.red {
    background-color: #ff0000;
  }